<p id="notice"><%= notice %></p>

<h1>Welcome To ExChange</h1>
<h3><strong>Swap what you don't like with what you love </strong> </h3>
<div>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Image</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= image_tag product.image_url(:thumb) %></td>
        <td><%= product.price %></td>
        <% if user_signed_in? && current_user.id == product.user_id %>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Submit Offer', product %></td>
         <%end%>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<% if user_signed_in? %>
<%= link_to 'New Product', new_product_path %>
<% else %>
<%= link_to 'Sign In To Add Products', new_product_path %>
<% end%>
