
<div class="container">
  <div class="row">
    <div class="col-md-8 center">
      <%= image_tag @product.image_url %>
      <h3><%= @product.name %></h3><br>
      <p><%= @product.description %></p><br>
      <p><strong>$</strong> <%= @product.price %> </p>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
